/* for zebra pin striping */
tr.even {
  background-color: #eee;
}

tr.odd {
  background-color: #fff;
}

/* styles used to clean up report */
.mod_name {
font-weight:bold;
font-size: +1;
}

.mod_desc {
font-size: -2;
font-style: italic;
padding-left: 2em;
}

.spec_group_set {
padding-left: 2em;
font-weight:bold;
}

.padding1l {
padding-left: 1em;
}

.padding2l {
padding-left: 2em;
}

.padding3l {
padding-left: 3em;
}
